article {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: auto;
  color: #F8F8F2
}

a:link {
  color: #8BE9FD
}

a:visited {
  color: #BD93F9
}

.internal-link:visited {
  color: #8BE9FD
}

body {
  background-color: #282A36;
}

code {
  font-family: "Roboto Mono", monospace;
  display: block;
  background: #44475A;
}

